@mixin run($data) {
  $tests: map-get($data, 'tests');

  @each $test in $tests {
    .test {
      input: map-get($test, 'input');
      output: map-get($test, 'actual');
      expected: map-get($test, 'expected');
      status: if(map-get($test, 'pass'), 'pass', 'fail');
    }  
  }
}
