/**
*
* Border-box sizing by default
*
**/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/**
*
* Base font size for REM usage
*
**/

html {
    height: 100%;
    font-size: 62.5%;
}

/**
*
* Clearfix
*
**/

.cf {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
*
* Vertical align
*
**/

%vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/**
*
* Z-index levels
*
**/

$z-index-level-1:      9;
$z-index-level-2:     99;
$z-index-level-3:    999;
$z-index-level-4:   9999;
$z-index-level-5:  99999;
$z-index-level-6: 999999;