// Burger menu button
.burger {
	$width: 28px;
	$thickness: 4px;
	
	border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;

	border-bottom: $thickness solid currentColor;
	width: $width;

	transition: border-bottom 1s ease-in-out;

	// Fix for extra space in Firefox
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}	 

	&:before {
		content: "";
		display: block;
		border-bottom: $thickness solid currentColor;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;
	}

	&:after {
		content: "";
		display: block;
		border-bottom: $thickness solid currentColor;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;
	}

	&.open {
		border-bottom: $thickness solid transparent;
		transition: border-bottom 0.8s ease-in-out;

		&:before {
			transform: rotate(-405deg) translateY(1px) translateX(-3px);
			transition: transform 0.5s ease-in-out;
		}

		&:after {
			transform: rotate(405deg) translateY(-4px) translateX(-5px); 
			transition: transform 0.5s ease-in-out;
		}
	}
}