header {
    text-align: center;

    h1 {
        @include font-size(70);
        display: inline-block;
        position: relative;
    }

    span {
        position: absolute;
        left: -60px;
        font-weight: $font-weight-lighter;
        color: $colour-secondary;
        //opacity: 0.3;    
    }

    p {
        @include font-size(18);
    }

    .burger-wrapper {
        text-align: right;
        padding: 10px 30px 0 0;
    }

    .burger {
        display: none;
        position: absolute;
        top: 30px;
        right: 30px;
        color: $colour-secondary;
    }

    @include media("<tablet") {
        .burger {
            display: inline-block;
            position: static;
        }

        .github-ribbon {
            display: none;
        }
    }  

    @include media("<550px") {
        h1 span {
            display: none;
        }
    }  

    @include media("<430px") {
        h1 {
            @include font-size(50);
        }
    }
}