$sublime-border-color: #b4b4b4;
$sublime-background-color: #262728;
$sublime-base-color: #f1f1f1;
$sublime-button-radius: 13px;

.sublime {
  position: relative;
  width: 80%;
  margin: 25px auto;
  padding: 2%;
  list-style: none;
  border-top: 25px solid $sublime-border-color;
  border-radius: 10px;
  background: $sublime-background-color;
  color: $sublime-base-color;
  font-family: Menlo;
  font-weight: 200;

  li {
    min-height: 25px;
    line-height: 25px;    
  }

  .buttons {
    min-height: 0;
    position: absolute;
    top: -18px;
    border-radius: 100%;
    width: $sublime-button-radius;
    height: $sublime-button-radius;
    background-color: #ff5d5b;
    border: 1px solid #e64344;

    &:before,
    &:after {
      position: absolute;
      content: "";
      width: $sublime-button-radius;
      height: $sublime-button-radius;  
      border-radius: 100%;
      top: -1px;
    }

    &:before {
      left: 20px;
      border: 1px solid #e3a041;
      background-color: #ffbc4c;
    } 

    &:after {
      left: 40px;
      border: 1px solid #13ad46;
      background-color: #00c956;
    }   
  }

  .tab {
    margin-left: 2%;
    list-style: none;    
  }

  /* Colors */
  .blue {
    color: #66d9ef;
  }

  .purple {
    color: #8a7bff;
  }

  .red {
    color: #e92772;
  }

  .green {
    color: #a6e22d;
  }

  .orange {
    color: #fd9720;
  }

  .yellow {
    color: #e6db74;
  }

  .gray {
    color: #8f908a;
  }

  .cursor:before {
    opacity: 0;
    content: "|";
    color: $sublime-base-color;
    animation: blink 0.8s infinite;
  }

  @keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }  
}